.contact_list{
    height: 630px;
    margin-top: -635px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
    width: 20%;
    margin-left: 75%;
}

.contact_content{
    margin-left: 30%;
    margin-top: -8%;
}
.contact_img{
    width: 30px;
    height: 30px;
    margin-left: 20%;
    margin-top: 0%;
    border-radius: 20px;
    border: 0.5px solid black;
}

.contact_header{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin-top: -2%;
}

.contact_hr{
    border: 0.5px solid black;
    width: 80%;
    margin-top: -4%;
}

.New_Friends_button{
    background-color: white;
    color: black;
    margin-left: 20%;
    margin-top: 10%;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    width: 60%;
}

.Manage_Friends_button{
    background-color: black;
    color: white;
    margin-left: 20%;
    margin-top: 5%;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    width: 60%;
}

.minus_icon_contact{
    background-color: transparent;
    width: 2%;
    margin-left: 0%;
    margin-top: -2.5%;
    position: absolute;
}

.draw_icon_contact{
    background-color: transparent;
    width: 1.5%;
    margin-left: 17%;
    margin-top: -2%;
    position: absolute;
}

.Save_Changes_contacts{
    background-color: white;
    color: black;
    margin-left: 20%;
    margin-top: 15%;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    width: 60%;
}

.scroll_list{
    overflow-y: hidden;
    height: 60%
}

.contact_item{
    margin-top: 5px;
}

.contact_list_color{
    width: 20%;
    height: 635px;
    margin-left: -1%;
    margin-top: -1.2%;
    border: 20px solid rgb(226, 211, 192);
    border-radius: 50px;
    position: absolute;
    z-index: -5;
}