hr{
    border: 2px solid black; 
}

.Login_headerImage{
    width: 10%;
    height: 10%;
}

.Login_header{
    text-align: center;
}

.Login_body{
    background-image: url("../images/Login_background.png");
    background-size: 100%;
    background-position: 50% 70%;
    height: 420px;
    padding: 10%;
}

.Background_div{
    background-color: white;
    border: 2px solid black;
    width: 26%;
    height: 325px;
    margin-top: -1.8%;
    position: absolute;
    border-radius: 7px;
    margin-left: 28%;
}

.Login_log_form{
    position: relative;
    text-align: center;
    border: 2px solid black;
    width: 30%;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -1%;
    background-color: white;
    border-radius: 7px;
}

.Login_back{
    position: absolute;
    font-size: 27px;
    margin-left: -8%;
    margin-top: -8%;
    color: black;
}

.Login_tag{
    position: absolute;
    margin-left: -20%;
    margin-top: -9%;
    background-color: black;
    color: whitesmoke;
    width: 25%;
    height: 45px;
    border-radius: 15px;
}

.Login_nametag{
    margin-top: 10%;
    font-size: 17px;
}

.Login_title{
    text-align: left;
    margin-left: 10%;
    font-weight: 500;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 17px;
}

.Login_email{
    width: 80%;
    height: 35px;
    margin-top: 5px;
    border-radius: 15px;
    margin-bottom: 2%;
}

.Login_password{
    width: 80%;
    height: 35px;
    margin-top: 5px;
    border-radius: 15px;
}

.Login_getPassword{
    margin-right: 10%;
    color: black;
}

.Login_signUp{
    margin-left: 30%;
    color: black;
}
.Login_hint{
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 17px;
    font-weight: 500;
}
.Login_confirm{
    background-color: black;
    color: whitesmoke;
    width: 82%;
    height: 45px;
    border-radius: 15px;
    font-size: 17px;
    margin-bottom: 2%;
}