/* CSS for profile pages includig profile display and edit */
@font-face {
    font-family: 'JosefinSans';
    src: url(../Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

.profilePage{
    font-family: "JosefinSans", sans-serif;
    font-size: 1.5em;
    color: black;
}

/* Header */
.profileHeader{
    border-bottom: 4px solid black;
    text-align: center;
    margin-bottom: 1rem;
}

.logo{
    width: 10%;
    height: 10%;
    margin: 0.5rem;
}

/* Body */
.profileBody{
    padding: 3rem;
    background-image: url('../images/yanni/profile-background.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.backButton{
    display: flex;
    align-content: center;
}

.backButton img{
    height: 1.5rem;
    margin: 0 0.5rem;
    margin-left: 0;
}

.backButton span{
    height: min-content;
}

.profileNametag{
    margin-top: 10%;
    font-size: 1.2rem;
    color:white;
    background-color: black;
    margin: 0;
    padding: 1rem 1.5rem;
    border-radius: 1.2rem;
    width: fit-content;
    margin-top: 10rem;

    position: absolute;
    top: 0;
    left: 28%;

    z-index: 100;
}

.profileBack{
    border: 1px black solid;
    border-radius: 2rem;
    width: 35%;
    height: 54rem;
    background-color: white;
    margin-top: 10.5rem;

    position: absolute;
    top: 0;
    right: 31.5%;

}


.profileMain form{
    margin: 0 auto;
}

.profileForm{
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 1px black solid;
    border-radius: 2rem;
    padding: 2rem 1rem;
    background-color: white;
    margin: 0 auto;
    width: 35%;
    height: 50rem;
    position:relative;
    z-index: 99;
}

.inputPair{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 20%;
}

.profileTitle{
    margin-bottom: 0.1rem;
    font-size: 1.2rem;
}

.profileInput{
    padding: 0;
    margin-bottom: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
}

.profileButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: black;
    border: black;
    border-radius: 15px;
    height: 2.5rem;
    color: white;
    font-family: "JosefinSans", sans-serif;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.alignForm{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 20%;
}

.alignContent{
    width: 40%;
}