/* CSS for register page */
@font-face {
    font-family: 'JosefinSans';
    src: url(../Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

.registerPage{
    font-family: "JosefinSans", sans-serif;
    font-size: 1.5em;
    color: black;
}

/* Header */
.registerHeader{
    border-bottom: 4px solid black;
    text-align: center;
    margin-bottom: 1rem;
}

.logo{
    width: 10%;
    height: 10%;
    margin: 0.5rem;
}

/* Body */
.registerBody{
    padding: 3rem;
    background-image: url('../images/yanni/register-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backButton{
    display: flex;
    align-content: center;
}

.backButton img{
    height: 1.5rem;
    margin: 0 0.5rem;
    margin-left: 0;
}

.backButton span{
    height: min-content;
}

.registerNametag{
    margin-top: 10%;
    font-size: 1.2rem;
    color:white;
    background-color: black;
    margin: 0;
    padding: 1rem 1.5rem;
    border-radius: 1.2rem;
    width: fit-content;
    margin-top: 10rem;

    position: absolute;
    top:0;
    left: 28%;

    z-index: 100;
}

.registerMain form{
    margin: 0 auto;
}

.registerForm{
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 1px black solid;
    border-radius: 2rem;
    padding: 2rem 1rem;
    background-color: white;
    margin: 0 auto;
    width: 35%;
    height: 28rem;
    position:relative;
    z-index: 99;
}

.registerTitle{
    margin-bottom: 0.1rem;
    font-size: 1.2rem;
}

.registerInput{
    padding: 0;
    margin-bottom: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
}

.registerButton{
    background-color: black;
    border: black;
    border-radius: 15px;
    width: 100%;
    height: 2.5rem;
    color: white;
    font-family: "JosefinSans", sans-serif;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.alignForm{
    display: flex;
    justify-content: space-between;
}

.alignContent{
    width: 40%;
}

.registerBack{
    border: 1px black solid;
    border-radius: 2rem;
    width: 35%;
    height: 30rem;
    background-color: white;
    margin-top: 11rem;

    position: absolute;
    top: 0;
    right: 31.5%;

}