.recent_agenda_color{
    width: 20%;
    height: 635px;
    margin-left: 4.1%;
    margin-top: -34%;
    border: 20px solid rgb(255, 223, 229);
    border-radius: 50px;
    position: absolute;
    z-index: -5;
}

.recent_agenda{
    height: 630px;
    margin-top: -635px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
    width: 20%;
    margin-left: 5%
}

.agenda_header{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin-top: -2%;
}

.recent_agenda_header{
    border: 0.5px solid black;
    width: 80%;
    margin-top: -4%;
}

.recent_agenda_button{
    background-color: white;
    color: black;
    margin-left: 20%;
    margin-top: 65%;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    width: 60%;
}

.manage_agenda_button{
    background-color: black;
    color: white;
    margin-left: 20%;
    margin-top: 5%;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    width: 60%;
}

.manage_agenda_button:disabled{
    color: gray;
}

.agenda_content{
    margin-left: 20%;
    margin-top: 15%;
    width: 65%;
    height: 12%;
    border: none;
    text-align: left;
    font-size: 20px;
}

.minus_icon{
    background-color: transparent;
    width: 2%;
    margin-left: 0%;
    margin-top: -5%;
    position: absolute;
}

.content{
    margin-left: 20%;
    margin-top: 0%;
}

.draw_icon{
    background-color: transparent;
    width: 1.5%;
    margin-left: 10%;
    margin-top: -5%;
    position: absolute;
}

.save_changes{
    background-color: white;
    color: black;
    margin-left: 20%;
    margin-top: 65%;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    width: 60%;
}